#particles-js {
    width: 100%;
    height: 100%;
    background-color: #000000;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    z-index: -1;
    display: block;
    position: fixed;
  }
  
  #lab_row {
    margin-bottom: 0px;
    padding: 0px;
  }
  
  @media(min-width:992px) {
      #lab_row {
        margin-bottom: 60px;
      }
  }
  
  
  body {
      overflow-x: hidden;
      font-family: "Roboto Slab","Helvetica Neue",Helvetica,Arial,sans-serif;
  }
  
  .text-muted {
      color: #fff;
  }
  
  .text-primary {
      color: #A296B3;
  }
  
  p {
      font-size: 14px;
      line-height: 1.75;
  }
  
  p.large {
      font-size: 16px;
  }
  
  a,
  a:hover,
  a:focus,
  a:active,
  a.active {
      outline: 0;
  }
  
  a {
      color: #A296B3;
  }
  
  a:hover,
  a:focus,
  a:active,
  a.active {
      color: #fff;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
      text-transform: uppercase;
      font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
      font-weight: 700;
  }
  
  .img-centered {
      margin: 0 auto;
  }
  
  
  .navbar-default {
      background-color: #110f7b !important;
  }
  
  .navbar-default .navbar-brand {
      font-family: Montserrat,"Helvetica Neue",Helvetica,Arial, sans-serif;;
      color: #fff;
  }
  
  .navbar-default .navbar-brand:hover,
  .navbar-default .navbar-brand:focus,
  .navbar-default .navbar-brand:active,
  .navbar-default .navbar-brand.active {
      color: #A296B3;
  }
  
  .navbar-brand>img {
      height: 50px;
      max-width: 250px;
      margin: -15px;
  }
  
  @media(min-width:768px) {
      .navbar-brand>img {
          height: 50px;
          max-width: 300px;
          margin: -15px;
      }
  }
  
  @media(min-width:992px) {
      .navbar-brand>img {
          height: 50px;
          max-width: 400px;
          margin: -15px;
      }
  }
  
  .navbar-default .navbar-collapse {
      border-color: rgba(255,255,255,.02);
  }
  
  .navbar-default .navbar-toggle { /** navicon **/
      border-color: #000;
      background-color: #000;
  }
  
  .navbar-default .navbar-toggle .icon-bar {
      background-color: #fff;
  }
  
  .navbar-default .navbar-toggle:hover,
  .navbar-default .navbar-toggle:focus {
      background-color: #A296B3;
  }
  
  .navbar-default .nav li a {
      text-transform: uppercase;
      font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
      font-weight: 400;
      letter-spacing: 1px;
      color: #fff;
  }
  
  .navbar-default .nav li a:hover,
  .navbar-default .nav li a:focus {
      outline: 0;
      color: #A296B3;
  }
  
  .navbar-default .navbar-nav>.active>a {
      border-radius: 0;
      color: #fff;
      background-color: #A296B3;
  }
  
  .navbar-default .navbar-nav>.active>a:hover,
  .navbar-default .navbar-nav>.active>a:focus {
      color: #fff;
      background-color: #A296B3;
  }
  
  @media(min-width:768px) {
      .navbar-default {
          padding: 25px 0;
          border: 0;
          background-color: rgba(15, 20, 27, 0);
          -webkit-transition: padding .3s;
          -moz-transition: padding .3s;
          transition: padding .3s;
      }
  
      .navbar-default .navbar-brand {
          font-size: 2em;
          -webkit-transition: all .3s;
          -moz-transition: all .3s;
          transition: all .3s;
      }
  
      .navbar-default .navbar-nav>.active>a {
          border-radius: 3px;
      }
  
      .navbar-default.navbar-shrink {
          padding: 10px 0;
          background-color: #000;
      }
  
      .navbar-default.navbar-shrink .navbar-brand {
          font-size: 1.5em;
      }
  }
  
  header {
      text-align: center;
      background-attachment: scroll;
      background-position: center center;
      background-repeat: none;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      background-size: cover;
      -o-background-size: cover;
      height:100vh;
  }
  
  header .intro-text {
      padding-top: 100px;
      padding-bottom: 50px;
  }
  
  header .intro-text .intro-lead-in {
      color: rgb(255,213,32);
      margin-bottom: 25px;
      font-family: Montserrat, "Helvetica Neue",Helvetica,Arial,sans-serif;
      font-size: 22px;
      line-height: 22px;
  }
  
  header .intro-text .intro-heading {
      color: #fff;
      margin-bottom: 25px;
      text-transform: uppercase;
      font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
      font-size: 50px;
      font-weight: 700;
      line-height: 50px;
  }
  
  .main {
    background-image: linear-gradient(to bottom, #110f7b, #8e2e48, #c88241);
  }
  
  #sponsors {
      margin-top:100px;
      border-radius: 25px;
  
  }
  
  .section-heading {
      color: #fff;
  }
  
  .pastsponsors-section-heading {
      color: #FFFFFF;
  }
  
  .pastsponsors-subheading {
      color: #FFFFFF;
  }
  
  @media(min-width:768px) {
      section {
          padding: 10px 0;
      }
  }
  
  .service-heading {
      margin: 15px 0;
      text-transform: none;
      margin-top: 40px;
  }
  
  .myButton {
      background-color:transparent;
      border-radius:28px;
      border:1px solid #ffffff;
      display:inline-block;
      cursor:pointer;
      color:#ffffff;
      font-family:Arial;
      font-size:17px;
      padding:15px 31px;
      text-decoration:none;
      text-shadow:0px 1px 0px #662727;
  }
  .myButton:hover {
      background-color:transparent;
  }
  .myButton:active {
      position:relative;
      top:1px;
  }
  
  .team-member {
      margin-bottom: 50px;
      text-align: center;
  }
  
  .team-member img {
      margin: 0 auto;
  }
  
  .team-member p {
      margin-top: 0;
  }
  .team-member h3 {
      text-transform: none;
      font-weight: 600;
      color: #333;
  }
  
  .team-member h4 {
      font-size: 16px;
      text-transform: none;
      font-weight: 400;
      color: #FFFFFF;
      margin-bottom: 0px;
  }
  
  .team-member h4 a {
      text-transform: none;
  }
  
  .team-member h5 {
      font-size: 14px;
      text-transform: none;
      font-style: italic;
      font-weight: 200;
      color: #777;
      margin-bottom: 15px
  }
  
  .team-member .report  {
      margin-top: 0px;
  }
  
  .team-member h5 a {
      text-transform: none;
  }
  
  .team-member ul {
      list-style: none;
      text-align: center;
      margin-top: 15px;
      margin-bottom: 15px;
      padding: 0;
  }
  
  .team-bio {
      padding: 15px
  }
  
  footer {
      padding: 25px 0;
      text-align: center;
  }
  
  footer span.copyright {
      text-transform: uppercase;
      text-transform: none;
      font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
      line-height: 40px;
  }
  
  footer ul.quicklinks {
      margin-bottom: 0;
      text-transform: uppercase;
      text-transform: none;
      font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
      line-height: 40px;
  }
  
  ul.social-buttons {
      margin-top: 20px;
      margin-bottom: 10px;
  }
  
  ul.social-buttons li a {
      display: block;
      width: 40px;
      height: 40px;
      border-radius: 100%;
      font-size: 20px;
      line-height: 40px;
      outline: 0;
      color: #fff;
      background-color: #222;
      -webkit-transition: all .3s;
      -moz-transition: all .3s;
      transition: all .3s;
  }
  
  ul.social-buttons li a:hover,
  ul.social-buttons li a:focus,
  ul.social-buttons li a:active {
      background-color: #A296B3;
  }
  
  .projects-modal .modal-content ul.list-inline {
      margin-top: 0;
      margin-bottom: 30px;
  }